:root {
    --default-bgcolor: #fff;

    --scrollbar-track-bgcolor: #ccc;
    --scrollbar-thumb-bgcolor: #888;
    --scrollbar-corner-bgcolor: #fff;
    --scrollbar-thumb-bgcolor-hover: #666;

    --default-light-text-color: #444;

    --default-btn-bgcolor: rgb(210, 241, 255);
    --default-btn-text-color: #222;

    --header-bgcolor: rgba(5, 5, 5, 0.2);
    --default-icon-bgcolor: #f1f1f1;
    --default-icon-color: #666;
    --default-border-color: rgba(221, 221, 221, 0.534);
    --defaul-input-bgcolor: #f1f1f1;
    --default-placeholder-color: #999;
    --default-input-color: #333;
    --default-header-light-text-color: rgb(210, 241, 255);
    --default-header-dark-text-color: #fefefe;

    --color-rgba-3: rgba(0, 0, 0, 0.5);
    --text-color-5: #ddd;
    --text-color-4: rgb(210, 241, 255);
    --text-color-3: #f1f1f1;

    --color-rgba-1: rgba(0, 102, 255, 0.205);
    --color-rgba-2: #dbe2e334;
    --light-text-color-7: #555;

    --default-dark-text-color: #222;
    --link-color-2: #09f;
    --box-shadow-3: #ddd;
    --light-color-7: #999;

    --hire-me-bgcolor: #f1f1f1;
    --hire-me-text-color-1: #222;
    --hire-me-text-color-2: #444;
    --hire-me-btn-bgcolor: #444;
    --hire-me-btn-color: #fff;

    --hire-me-bgcolor-2: #444;
    --hire-me-text-color-3: #fff;
    --hire-me-text-color-4: #f1f1f1;

    --footer-bgcolor-primary: #f1f1f1;
    --footer-text-color-primary: #999;
    --footer-text-color-secondary: #666;
    --footer-icon-bgcolor: #666;
    --footer-icon-color: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Fira sans', 'Open sans';
    font-weight: 300;
    outline: none;
}




.flex {
    display: flex;
}
/* 



html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body {
    position: relative;
}



 */
 ::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bgcolor);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bgcolor);
    background-clip: padding-box;
    border: 0.05rem solid var(--scrollbar-track-bgcolor);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-bgcolor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-bgcolor-hover);
}
.wrapper{
    width: 100%;
    position: relative;
}

.header{
    min-width: max-content;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    border-bottom: 0.05rem solid var(--default-border-color);
    background: rgba(5, 5, 5, 0.2);
}

.menu-icon {
    position: relative;
    width: 2.0rem;
    height: 2.0rem;
    background: var(--default-icon-bgcolor);
    color: var(--default-icon-color);
    display: grid;
    place-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}

.bi-list {
    font-size: 1.5rem;
}

.header .left-pos .s-name {
    cursor: pointer;
}

.header .left-pos .s-name a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--default-header-dark-text-color);
}

.header .middle-pos {
    min-width: max-content;
    flex-direction: row;
    align-items: center;
}

.header .middle-pos .nav-links {
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0rem 0.8rem;
    color: var(--default-header-light-text-color);
}

.header .right-pos {
    flex-direction: row;
    align-items: center;
    min-width: max-content;
}

.s-theme {
    background: var(--default-icon-bgcolor);
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.s-theme .bi-moon-stars-fill {
    font-size: 0.95rem;
    color: var(--default-icon-color);
}

input[type='search'] {
    background: var(--defaul-input-bgcolor);
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    color: var(--default-input-color);
    margin: 0rem 0.8rem;
}

input[type='search']::placeholder {
    color: var(--default-placeholder-color);
}

.btn-primary {
    padding: 0.6rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--default-btn-text-color);
    background: var(--default-btn-bgcolor);
    cursor: pointer;
}

.sidebar-menu {
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 18rem;
    height: 100vh;
    background: var(--default-bgcolor);
    flex-direction: column;
    padding: 0.8rem;
}

.sidebar-menu .close-sidebar {
    background: var(--default-icon-bgcolor);
    color: var(--default-icon-color);
    width: max-content;
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.sidebar-menu .top {
    background: #09f;
    color: #fff;
    width: max-content;
    padding: 0.4rem 1rem;
    font-size: 1.0rem;
    border-radius: 0.3rem;
    margin-top: 1.6rem;
    cursor: pointer;
}

.sidebar-menu .middle {
    flex-direction: column;
    margin-top: 1.6rem;
    align-items: flex-start;
    height: max-content;
    padding-bottom: 0.8rem;
}

.sidebar-menu .middle .main-nav {
    padding: 0.6rem 0rem;
}

.sidebar-menu .middle .main-nav .nav-links {
    padding: 0rem 0rem;
    color: var(--default-dark-text-color);
    text-decoration: none;
}

.sidebar-menu .bottom {
    flex-direction: row;
    padding-top: 1.6rem;
    border-top: 0.05rem solid var(--default-border-color);
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu .bottom input[type='search'] {
    margin: 0rem;
}

/* main section */
.content-section {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

/* first-section */
.first-section {
	width: 100%;
	position: relative;
}

.first-section .featured-content1 {
	position: relative;
	align-items: center;
	justify-content: flex-start;
	height: 40rem;
}

.first-section .featured-content1 .img {
	width: 100%;
	height: 100%;
	background: linear-gradient(var(--color-rgba-3), var(--color-rgba-3)), url(/assets/img/demo-img4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.first-section .featured-content1 .featured-text-container {
	position: absolute;
	left: 3.2rem;
	width: 35%;
	top: 50%;
	transform: translateY(-50%);
	flex-direction: column;
}

.first-section .featured-content1 .featured-text-container .top {
	flex-direction: row;
	align-items: center;
	width: 70%;
	justify-content: space-between;
}

.first-section .featured-content1 .featured-text-container .top .category {
	color: var(--link-color-2);
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.95rem;
	cursor: pointer;
}

.first-section .featured-content1 .featured-text-container .top .divider {
	color: var(--text-color-5);
	font-size: 0.95rem;
}

.first-section .featured-content1 .featured-text-container .top .read-time {
	color: var(--text-color-5);
	text-transform: uppercase;
	font-size: 0.95rem;
}

.first-section .featured-content1 .featured-text-container .top .comments {
	color: var(--text-color-5);
	font-size: 0.9rem;
	cursor: pointer;
}

.first-section .featured-content1 .featured-text-container .top .likes {
	color: var(--text-color-5);
	font-size: 0.9rem;
	cursor: pointer;
}

.first-section .featured-content1 .featured-text-container .middle {
	flex-direction: column;
	margin: 0.8rem 0rem;
}

.first-section .featured-content1 .featured-text-container .middle .title {
	font-size: 1.5rem;
	color: var(--text-color-4);
	font-weight: 400;
	cursor: pointer;
}

.first-section .featured-content1 .featured-text-container .middle .summary {
	font-size: 0.95rem;
	margin-top: 0.4rem;
	color: var(--text-color-5);
}

.first-section .featured-content1 .featured-text-container .bottom {
	flex-direction: row;
	width: 70%;
	justify-content: space-between;
	align-items: center;
}

.first-section .featured-content1 .featured-text-container .bottom .read-more {
	color: var(--text-color-3);
	font-size: 0.9rem;
	font-weight: 400;
	padding: 0.5rem 0.8rem;
	border: 0.05rem solid var(--text-color-3);
	border-radius: 0.3rem;
	cursor: pointer;
}

.first-section .featured-content1 .featured-text-container .bottom .date {
	color: var(--text-color-5);
	font-size: 0.85rem;
}

.display-none {
	display: none;
}

.first-section .featured-container {
	width: 40%;
	height: 17rem;
	position: absolute;
	bottom: 3.2rem;
	right: 3.2rem;
	gap: 1.6rem;
}

.first-section .featured-content2,
.first-section .featured-content3 {
	width: 50%;
	flex-direction: column;
	height: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
}

.first-section .featured-content2 .img {
	width: 100%;
	height: 60%;
	overflow: hidden;
	background: url(../img/demo-img7.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.first-section .featured-content2 .featured-text-container,
.first-section .featured-content3 .featured-text-container {
	flex-direction: column;
	width: 100%;
	height: 40%;
	background: var(--default-bgcolor);
	padding: 0.8rem;
	justify-content: space-between;
}

.first-section .featured-content2 .featured-text-container .top,
.first-section .featured-content3 .featured-text-container .top {
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.first-section .featured-content2 .featured-text-container .top .category,
.first-section .featured-content3 .featured-text-container .top .category {
	color: var(--link-color-2);
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.7rem;
	cursor: pointer;
}

.first-section .featured-content2 .featured-text-container .top .divider,
.first-section .featured-content3 .featured-text-container .top .divider {
	color: var(--light-color-7);
	font-size: 0.7rem;
}

.first-section .featured-content2 .featured-text-container .top .read-time,
.first-section .featured-content3 .featured-text-container .top .read-time {
	color: var(--light-color-7);
	text-transform: uppercase;
	font-size: 0.7rem;
}

.first-section .featured-content2 .featured-text-container .top .comments,
.first-section .featured-content3 .featured-text-container .top .comments {
	color: var(--light-color-7);
	font-size: 0.8rem;
	cursor: pointer;
}

.first-section .featured-content2 .featured-text-container .top .likes,
.first-section .featured-content3 .featured-text-container .top .likes {
	color: var(--light-color-7);
	font-size: 0.8rem;
	cursor: pointer;
}

.first-section .featured-content2 .featured-text-container .middle .title,
.first-section .featured-content3 .featured-text-container .middle .title {
	font-size: 0.96rem;
	color: var(--default-dark-text-color);
	font-weight: 400;
	cursor: pointer;
}


.first-section .featured-content2 .featured-text-container .bottom,
.first-section .featured-content3 .featured-text-container .bottom {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.first-section .featured-content2 .featured-text-container .bottom .read-more,
.first-section .featured-content3 .featured-text-container .bottom .read-more {
	color: var(--link-color-2);
	font-size: 0.8rem;
	font-weight: 400;
	cursor: pointer;
}

.first-section .featured-content2 .featured-text-container .bottom .date,
.first-section .featured-content3 .featured-text-container .bottom .date {
	color: var(--light-color-7);
	font-size: 0.85rem;
}


.first-section .featured-content3 .img {
	width: 100%;
	height: 60%;
	overflow: hidden;
	background: url(../img/demo-img8.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* second-section */
.second-section {
	flex-direction: column;
	align-items: center;
	padding: 1.6rem 3.2rem;
	justify-content: space-evenly;
	width: 100%;
	gap: 1.6rem;
	height: 25rem;
	position: relative;
}

.second-section .slide-container-title {
	width: 100%;
	text-align: left;
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--default-dark-text-color);
}

.slide-container {
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
}

.second-section .slide-content-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
	flex-direction: column;
	cursor: pointer;
	/* box-shadow: 0.05rem 0.20rem 0.4rem 0.1rem #ddd; */
}

.second-section .slide-content-container:nth-child(1) .img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/demo-img2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.second-section .slide-content-container:nth-child(2) .img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/demo-img9.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.second-section .slide-content-container:nth-child(3) .img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/demo-img1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.second-section .slide-content-container:nth-child(4) .img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/demo-img5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.second-section .slide-content-container .content-bottom {
	position: absolute;
	flex-direction: column;
	left: 1.6rem;
	right: 1.6rem;
	top: 1.6rem;
}

.second-section .slide-content-container .content-bottom .top {
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.8rem;
	font-size: 0.75rem;
	font-weight: 400;
	color: #eee;
	text-transform: uppercase;
}

.second-section .slide-content-container .content-bottom .top .category {
	color: #fff;
	border-radius: 0.3rem;
	padding: 0.4rem 0.8rem;
	background: #09f;
}

.second-section .slide-content-container .content-bottom .title {
	font-size: 1.2rem;
	font-weight: 400;
	color: #fff;
}

.second-section .slide-content-container:hover {
	opacity: 0.8;
}













.display-none {
	display: none;
}